<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="row">
  <div class="col-md-3">
    <div class="profile-img">
      <img src="../assets/images/doctor2.jpeg" (click)="viewProfile()" alt=""/>
    </div>
  </div>
  <div class="col-md-7">
    <div class="profile-head">
      <h5>
        Doctor Id: {{getLoggedId}}
      </h5>
      <h6>
        welcome Doctor
      </h6>
      <p class="profile-rating">RANKINGS : <span>8/10</span></p>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" >About</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-danger" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="bottom" (confirm)="logout()" (cancel)="cancelClicked =true">Logout</button>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="profile-work">
      <p>WORK LINK</p>
      <span class="profile-edit-btn" (click)="EditProfile()">Edit-Profile</span><br/><br>
      <span class="profile-edit-btn" (click)="viewProfile()">View-Profile</span><br><br>
      <span class="profile-edit-btn" (click)="viewAppointment() ; isFalseNewAppointment = false ; isFalseAppointment = true">Consulted Appointments</span><br/><br>
      <span class="profile-edit-btn" (click)="viewAppointment() ; isFalseNewAppointment = true ; isFalseAppointment = false">New Appointments</span><br/><br>
      <span class="profile-edit-btn" (click)="viewComplaints() ;">View Complaints</span>
    </div>
  </div>
  <div class="col-md-8">
    <div class="Edit-profile">
      <div *ngIf="isFalseEditProfile">
        <form class="form-horizontal" #updateDoctorForm = "ngForm" (ngSubmit)="updateDoctorDetails()">
          <fieldset class="fieldset">
            <h3 class="fieldset-title">Personal Info</h3>
            <div class="form-group">
              <div class="row">
                <label class="col-md-3 col-sm-3 col-xs-12 control-label" >Username:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <p><b>{{doctorDetails.username}}</b></p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-sm-3 col-xs-12 control-label" >First Name</label>
              <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="text" class="form-control"  name="firstName" [(ngModel)]="doctorDetails.firstname">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-sm-3 col-xs-12 control-label">Last Name</label>
              <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="text" class="form-control"  name="Last name" [(ngModel)]="doctorDetails.lastname">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-sm-3 col-xs-12 control-label">Qualification</label>
              <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="text" class="form-control" name="qualification" [(ngModel)]="doctorDetails.qualifications">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-sm-3 col-xs-12 control-label">specialization</label>
              <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="text" class="form-control" name="specialization" [(ngModel)]="doctorDetails.specialization">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-sm-3 col-xs-12 control-label">Password</label>
              <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="password" class="form-control" name="password" [(ngModel)]="doctorDetails.password">
              </div>
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <h3 class="fieldset-title">Contact Info</h3>
            <div class="form-group">
              <label class="col-md-2  col-sm-3 col-xs-12 control-label">Mobile Number</label>
              <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="text" class="form-control" maxlength="10" required pattern="[1-9]{1}[0-9]{9}" name="contact" #contact = "ngModel" [(ngModel)]="doctorDetails.contactnumber">
                <div *ngIf="contact.invalid && (contact.dirty || contact.touched)"
                     class="alert alert-danger">
                  <div *ngIf="contact.errors.required">
                    10 digits numeric characters only.
                  </div>
                  <div *ngIf="contact.hasError('maxlength')">
                    maximum 10 digits only.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-sm-3 col-xs-12 control-label">Email</label>
              <div class="col-md-10 col-sm-9 col-xs-12">
                <input type="email" class="form-control" required name="email" [(ngModel)]="doctorDetails.email" id="email" #email = "ngModel">
                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                     class="alert alert-danger">
                  <div *ngIf="email.errors.required">
                    Email is required.
                  </div>
                  <p class="help-block">This is the email </p>
                </div>
              </div>
            </div></fieldset>
          <hr>
          <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
            <button class="btn btn-primary" type="submit" name="update profile" [disabled]="!updateDoctorForm.form.valid" >Update Profile</button>
          </div>
          <div style="text-align: center"> <p>{{message}}</p></div>
        </form>
      </div>
    </div>
    <div class="tab-content profile-tab" id="myTabContent" *ngIf="isTrueViewProfile">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col-md-6">
            <label>User Id</label>
          </div>
          <div class="col-md-6">
            <p>{{getLoggedId}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>User Name</label>
          </div>
          <div class="col-md-6">
            <p>{{doctorDetails.username}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>specialization</label>
          </div>
          <div class="col-md-6">
            <p>{{doctorDetails.specialization}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Qualification</label>
          </div>
          <div class="col-md-6">
            <p>{{doctorDetails.qualifications}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Name</label>
          </div>
          <div class="col-md-6">
            <p>{{doctorDetails.firstname}} {{doctorDetails.lastname}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Email</label>
          </div>
          <div class="col-md-6">
            <p>{{doctorDetails.email}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Phone</label>
          </div>
          <div class="col-md-6">
            <p>{{doctorDetails.contactnumber}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content profile-tab" *ngIf="isFalseAppointment" >
      <table class="table table-striped"  >
        <thead>
        <tr>
          <th scope="col">Appointment Id</th>
          <th scope="col">Description</th>
          <th scope="col">Patient Name</th>
          <th scope="col">Doctor Name</th>
          <th scope="col">Patient contact Number</th>
          <th scope="col">Appointment Date</th>
          <th scope="col">Prescription</th>
          <th scope="col" >Remark</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let appointment of appointments">
            <td *ngIf="appointment.prescription != null" >{{appointment.id}}</td>
            <td *ngIf="appointment.prescription != null">{{appointment.description}}</td>
            <td *ngIf="appointment.prescription != null">{{appointment.patient.firstName}}</td>
            <td *ngIf="appointment.prescription != null">{{appointment.doctor.username}}</td>
            <td *ngIf="appointment.prescription != null">{{appointment.patient.contactNumber}}</td>
            <td *ngIf="appointment.prescription != null">{{appointment.date}}</td>
            <td *ngIf="appointment.prescription != null">{{appointment.prescription}}</td>
            <td *ngIf="appointment.prescription != null">consulted</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-content profile-tab" *ngIf="isFalseNewAppointment" >
      <table class="table table-striped"  >
        <thead>
        <tr>
          <th scope="col">Appointment Id</th>
          <th scope="col">Description</th>
          <th scope="col">Patient Name</th>
          <th scope="col">Doctor Name</th>
          <th scope="col">Patient contact Number</th>
          <th scope="col">Appointment Date</th>
          <th scope="col">Prescription</th>
          <th scope="col" >Button</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let appointment of appointments">
          <td *ngIf="appointment.prescription == null">{{appointment.id}}</td>
          <td *ngIf="appointment.prescription == null">{{appointment.description}}</td>
          <td *ngIf="appointment.prescription == null">{{appointment.patient.firstName}}</td>
          <td *ngIf="appointment.prescription == null">{{appointment.doctor.username}}</td>
          <td *ngIf="appointment.prescription == null">{{appointment.patient.contactNumber}}</td>
          <td *ngIf="appointment.prescription == null">{{appointment.date}}</td>
          <td *ngIf="appointment.prescription == null">{{appointment.prescription}}</td>
          <td *ngIf="appointment.prescription == null"><button type="button" class="btn btn-success" (click)="viewPrescriptionForm(appointment.id)">Consult</button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="prescription">
      <div *ngIf="isFalsePrescription" >
        <form #formElement = "ngForm" (ngSubmit)="prescription()" >
          <div class="form-group">
            <label>Patient Name:</label>
            <p>{{appointmentDetails.patient.firstName}}</p>
          </div>
          <div class="form-group">
            <label>Health Issue:</label>
            <p>{{appointmentDetails.description}}</p>
          </div>
          <div class="form-group">
            <label for="pres">Prescription:</label>
            <textarea class="form-control rounded-0" id="pres" required #pres = "ngModel" name="prescription" [(ngModel)]="appointmentDetails.prescription" rows="10"></textarea>
            <div *ngIf="pres.invalid && (pres.dirty || pres.touched)"
                 class="alert alert-danger">
              <div *ngIf="pres.errors.required">
                Prescription is required.
              </div>
            </div>
          </div>
          <button class="btn btn-success" type="submit" [disabled]="!formElement.form.valid" > submit</button>
          <p>{{prescriptionMessage}}</p>
        </form>
      </div>
    </div>
    <div class="complaints">
      <table class="table table-striped" *ngIf="isFalseViewComplaint" >
        <thead>
        <tr>
          <th scope="col">Appointment Id</th>
          <th scope="col">Description</th>
          <th scope="col">Patient Name</th>
          <th scope="col">Patient contact Number</th>
          <th scope="col">Prescription</th>
          <th scope="col" >Remark</th>
          <th scope="col">Complaint</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let appointment of appointments">
          <td *ngIf="appointment.complaintForward == true" >{{appointment.id}}</td>
          <td *ngIf="appointment.complaintForward == true">{{appointment.description}}</td>
          <td *ngIf="appointment.complaintForward == true">{{appointment.patient.firstName}} {{appointment.patient.lastName}}</td>
          <td *ngIf="appointment.complaintForward == true">{{appointment.patient.contactNumber}}</td>
          <td *ngIf="appointment.complaintForward == true">{{appointment.prescription}}</td>
          <td *ngIf="appointment.complaintForward == true">consulted</td>
          <td *ngIf="appointment.complaintForward == true">{{appointment.complaint}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


</body>
</html>
