
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
  <body class="bg" style="background-image: url(assets/images/homepic.jpg)">
<!--<div class="top_section"></div>-->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" >
        <img class="card-img-top" src="../assets/images/patient.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Patient</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="//patient-registration" routerLinkActive="active" class="btn btn-primary">Login/Register</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" >
        <img class="card-img-top" src="../assets/images/docotr.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Doctor</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="//doctor-login"  routerLinkActive="active" class="btn btn-primary">Login</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" >
        <img class="card-img-top" src="../assets/images/reception.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Receptionist</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary" routerLink="//reception-login" routerLinkActive="active">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
